.custom-toaster {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 5px 5px 0 black;
  background-color: #ff4d4d;
  transition: transform 0.2s ease-in-out;
}

.custom-toaster.success {
  background: #4ade80;
  color: black;
  border: 3px solid black;
}

.custom-toaster.error {
  background: #ff4d4d;
  color: white;
  border: 3px solid black;
}

.custom-toaster.warning {
  background: #ffcc00;
  color: black;
  border: 3px solid black;
}

.custom-toaster.info {
  background: #1ac2ff;
  color: white;
  border: 3px solid black;
}

.custom-toaster:hover {
  transform: scale(1.05);
}
